-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: waste_management
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `waste_management`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `waste_management` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `waste_management`;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `companies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_name` varchar(100) NOT NULL COMMENT 'å…¬å¸åç§°',
  `company_code` varchar(50) DEFAULT NULL COMMENT 'å…¬å¸ç¼–ç ',
  `description` varchar(200) DEFAULT NULL COMMENT 'æè¿°',
  `status` enum('active','inactive') DEFAULT 'active' COMMENT 'çŠ¶æ€',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_name` (`company_name`),
  UNIQUE KEY `company_code` (`company_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='å…¬å¸è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `companies`
--

LOCK TABLES `companies` WRITE;
/*!40000 ALTER TABLE `companies` DISABLE KEYS */;
/*!40000 ALTER TABLE `companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_tasks`
--

DROP TABLE IF EXISTS `daily_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_tasks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) NOT NULL COMMENT 'è®°å½•ç¼–å·',
  `user_id` int NOT NULL,
  `user_name` varchar(50) DEFAULT NULL,
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `work_date` date NOT NULL,
  `task_config_id` int NOT NULL,
  `task_name` varchar(100) DEFAULT NULL,
  `times` int DEFAULT '1' COMMENT 'å®Œæˆæ¬¡æ•°',
  `hours_per_time` decimal(4,2) DEFAULT NULL,
  `total_hours` decimal(4,2) DEFAULT NULL,
  `is_fixed_task` tinyint DEFAULT '1' COMMENT 'æ˜¯å¦å›ºå®šä»»åŠ¡',
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `reviewer_id` int DEFAULT NULL,
  `reviewer_name` varchar(50) DEFAULT NULL,
  `review_time` datetime DEFAULT NULL,
  `reject_reason` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_daily_user_date` (`user_id`,`work_date`),
  KEY `idx_daily_status` (`status`),
  KEY `daily_tasks_user_id_work_date` (`user_id`,`work_date`),
  KEY `daily_tasks_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æ¯æ—¥ä»»åŠ¡è®°å½•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_tasks`
--

LOCK TABLES `daily_tasks` WRITE;
/*!40000 ALTER TABLE `daily_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dept_name` varchar(100) NOT NULL COMMENT 'éƒ¨é—¨åç§°',
  `dept_code` varchar(50) DEFAULT NULL COMMENT 'éƒ¨é—¨ç¼–ç ',
  `description` varchar(200) DEFAULT NULL COMMENT 'æè¿°',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dept_code` (`dept_code`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='éƒ¨é—¨è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '设备ID',
  `station_id` int NOT NULL COMMENT '场站ID',
  `equipment_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '设备编号',
  `equipment_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '设备名称',
  `installation_location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '安装地点',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `station_id` (`station_id`),
  CONSTRAINT `equipment_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='设备管理表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment`
--

LOCK TABLES `equipment` WRITE;
/*!40000 ALTER TABLE `equipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fault_reports`
--

DROP TABLE IF EXISTS `fault_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fault_reports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `report_code` varchar(50) NOT NULL,
  `equipment_code` varchar(50) DEFAULT NULL,
  `equipment_name` varchar(100) NOT NULL,
  `installation_location` varchar(200) DEFAULT NULL,
  `fault_date` date NOT NULL,
  `fault_time` time NOT NULL,
  `reporter_id` int NOT NULL,
  `reporter_name` varchar(50) DEFAULT NULL,
  `fault_description` text NOT NULL,
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `status` enum('pending','assigned','processing','completed','closed') DEFAULT 'pending',
  `assigned_to` int DEFAULT NULL,
  `assigned_by` int DEFAULT NULL,
  `assigned_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `report_code` (`report_code`),
  KEY `idx_fault_status` (`status`),
  KEY `idx_fault_reporter` (`reporter_id`),
  KEY `fault_reports_status` (`status`),
  KEY `fault_reports_reporter_id` (`reporter_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æ•…éšœä¸ŠæŠ¥è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fault_reports`
--

LOCK TABLES `fault_reports` WRITE;
/*!40000 ALTER TABLE `fault_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `fault_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hazard_categories`
--

DROP TABLE IF EXISTS `hazard_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hazard_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '类别名称',
  `sort_order` int DEFAULT '0' COMMENT '排序',
  `is_system` tinyint DEFAULT '0' COMMENT '是否系统预置(1=是,0=否)',
  `status` tinyint DEFAULT '1' COMMENT '状态(1=启用,0=禁用)',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `category_name` (`category_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hazard_categories`
--

LOCK TABLES `hazard_categories` WRITE;
/*!40000 ALTER TABLE `hazard_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `hazard_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hazard_root_causes`
--

DROP TABLE IF EXISTS `hazard_root_causes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hazard_root_causes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cause_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '原因名称',
  `sort_order` int DEFAULT '0' COMMENT '排序',
  `is_system` tinyint DEFAULT '0' COMMENT '是否系统预置(1=是,0=否)',
  `status` tinyint DEFAULT '1' COMMENT '状态(1=启用,0=禁用)',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cause_name` (`cause_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hazard_root_causes`
--

LOCK TABLES `hazard_root_causes` WRITE;
/*!40000 ALTER TABLE `hazard_root_causes` DISABLE KEYS */;
/*!40000 ALTER TABLE `hazard_root_causes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hygiene_areas`
--

DROP TABLE IF EXISTS `hygiene_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hygiene_areas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `station_id` int NOT NULL COMMENT '场站ID',
  `area_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '责任区名称',
  `points` int DEFAULT '0' COMMENT '???',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `station_id` (`station_id`),
  CONSTRAINT `hygiene_areas_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hygiene_areas`
--

LOCK TABLES `hygiene_areas` WRITE;
/*!40000 ALTER TABLE `hygiene_areas` DISABLE KEYS */;
/*!40000 ALTER TABLE `hygiene_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hygiene_points`
--

DROP TABLE IF EXISTS `hygiene_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hygiene_points` (
  `id` int NOT NULL AUTO_INCREMENT,
  `hygiene_area_id` int NOT NULL COMMENT '所属责任区ID',
  `station_id` int NOT NULL COMMENT '场站ID',
  `point_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '卫生点名称',
  `work_requirements` text COLLATE utf8mb4_unicode_ci COMMENT '工作要求及标准',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `hygiene_area_id` (`hygiene_area_id`),
  KEY `station_id` (`station_id`),
  CONSTRAINT `hygiene_points_ibfk_1` FOREIGN KEY (`hygiene_area_id`) REFERENCES `hygiene_areas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `hygiene_points_ibfk_2` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=281 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hygiene_points`
--

LOCK TABLES `hygiene_points` WRITE;
/*!40000 ALTER TABLE `hygiene_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `hygiene_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hygiene_position_areas`
--

DROP TABLE IF EXISTS `hygiene_position_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hygiene_position_areas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `station_id` int NOT NULL COMMENT '场站ID',
  `position_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '岗位名称',
  `hygiene_area_id` int NOT NULL COMMENT '责任区ID',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `station_id` (`station_id`),
  KEY `hygiene_area_id` (`hygiene_area_id`),
  CONSTRAINT `hygiene_position_areas_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `hygiene_position_areas_ibfk_2` FOREIGN KEY (`hygiene_area_id`) REFERENCES `hygiene_areas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hygiene_position_areas`
--

LOCK TABLES `hygiene_position_areas` WRITE;
/*!40000 ALTER TABLE `hygiene_position_areas` DISABLE KEYS */;
INSERT INTO `hygiene_position_areas` VALUES (1,16,'站长',1,'2026-01-21 13:24:58','2026-01-21 13:24:58'),(2,22,'羽化 培养',13,'2026-01-21 15:23:18','2026-01-21 15:23:18'),(6,23,'培养',35,'2026-01-21 20:00:29','2026-01-21 20:00:29'),(7,22,'羽化 培养',14,'2026-01-21 20:02:39','2026-01-21 20:02:39'),(8,22,'预蛹养殖 养鸭',11,'2026-01-21 20:02:52','2026-01-21 20:02:52'),(9,22,'预蛹养殖 养鸭',9,'2026-01-21 20:03:01','2026-01-21 20:03:01'),(10,22,'蛹化 养鸡',12,'2026-01-21 20:03:17','2026-01-21 20:03:17'),(11,22,'蛹化 养鸡',4,'2026-01-21 20:03:27','2026-01-21 20:03:27');
/*!40000 ALTER TABLE `hygiene_position_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_assignments`
--

DROP TABLE IF EXISTS `maintenance_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_assignments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `assignment_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'assignment code',
  `station_id` int NOT NULL COMMENT 'station id',
  `plan_id` int DEFAULT NULL COMMENT 'plan id',
  `cycle_type` enum('daily','weekly','monthly','yearly') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'maintenance cycle type',
  `equipment_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'equipment code',
  `equipment_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'equipment name',
  `install_location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'install location',
  `executor_id` int NOT NULL COMMENT 'executor id',
  `executor_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'executor name',
  `assigner_id` int DEFAULT NULL COMMENT 'assigner id',
  `assigner_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'assigner name',
  `plan_start_date` date DEFAULT NULL COMMENT 'plan start date',
  `plan_start_time` time DEFAULT NULL COMMENT 'plan start time',
  `plan_end_date` date DEFAULT NULL COMMENT 'plan end date',
  `plan_end_time` time DEFAULT NULL COMMENT 'plan end time',
  `actual_start_date` date DEFAULT NULL COMMENT 'actual start date',
  `actual_start_time` time DEFAULT NULL COMMENT 'actual start time',
  `actual_end_date` date DEFAULT NULL COMMENT 'actual end date',
  `actual_end_time` time DEFAULT NULL COMMENT 'actual end time',
  `maintenance_content` text COLLATE utf8mb4_unicode_ci COMMENT 'maintenance content',
  `maintenance_tools` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'maintenance tools',
  `maintenance_result` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'maintenance result',
  `observe_days` int DEFAULT NULL COMMENT 'observe days',
  `unsolved_reason` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'unsolved reason',
  `maintenance_items` json DEFAULT NULL COMMENT 'maintenance items',
  `consumables_list` json DEFAULT NULL COMMENT 'maintenance consumables list',
  `parts_list` json DEFAULT NULL COMMENT 'maintenance parts list',
  `status` enum('pending','in_progress','pending_verify','accepted','completed') COLLATE utf8mb4_unicode_ci DEFAULT 'pending' COMMENT 'status',
  `completion_note` text COLLATE utf8mb4_unicode_ci COMMENT 'completion note',
  `work_hours` decimal(4,2) DEFAULT NULL COMMENT 'work hours',
  `verify_by_id` int DEFAULT NULL COMMENT 'verify user id',
  `verify_by_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'verify user name',
  `verify_date` date DEFAULT NULL COMMENT 'verify date',
  `verify_time` time DEFAULT NULL COMMENT 'verify time',
  `verify_comment` text COLLATE utf8mb4_unicode_ci COMMENT 'verify comment',
  `verify_safety` int DEFAULT NULL COMMENT 'verify safety rating',
  `verify_quality` int DEFAULT NULL COMMENT 'verify quality rating',
  `verify_progress` int DEFAULT NULL COMMENT 'verify progress rating',
  `verify_hygiene` int DEFAULT NULL COMMENT 'verify hygiene rating',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `assignment_code` (`assignment_code`),
  KEY `plan_id` (`plan_id`),
  KEY `assigner_id` (`assigner_id`),
  KEY `maintenance_assignments_station_id` (`station_id`),
  KEY `maintenance_assignments_executor_id` (`executor_id`),
  KEY `maintenance_assignments_status` (`status`),
  KEY `maintenance_assignments_plan_start_date` (`plan_start_date`),
  CONSTRAINT `maintenance_assignments_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `maintenance_assignments_ibfk_2` FOREIGN KEY (`plan_id`) REFERENCES `maintenance_plan_library` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `maintenance_assignments_ibfk_3` FOREIGN KEY (`executor_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `maintenance_assignments_ibfk_4` FOREIGN KEY (`assigner_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_assignments`
--

LOCK TABLES `maintenance_assignments` WRITE;
/*!40000 ALTER TABLE `maintenance_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_plan_library`
--

DROP TABLE IF EXISTS `maintenance_plan_library`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_plan_library` (
  `id` int NOT NULL AUTO_INCREMENT,
  `station_id` int DEFAULT NULL COMMENT '场站ID',
  `equipment_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '设备编号',
  `equipment_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '设备名称',
  `install_location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '安装位置',
  `cycle_type` enum('daily','weekly','monthly','yearly') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'monthly' COMMENT 'cycle type',
  `daily_enabled` tinyint(1) DEFAULT '1' COMMENT '是否启用日保养',
  `weekly_enabled` tinyint(1) DEFAULT '1' COMMENT '是否启用周保养',
  `monthly_enabled` tinyint(1) DEFAULT '1' COMMENT '是否启用月保养',
  `yearly_enabled` tinyint(1) DEFAULT '1' COMMENT '是否启用年保养',
  `weekly_day` int DEFAULT NULL COMMENT '周保养在周几完成(1-7，1=周一)',
  `monthly_day` int DEFAULT NULL COMMENT '月保养在每月几号完成(1-31)',
  `yearly_month` int DEFAULT NULL COMMENT '年保养在每年几月完成(1-12)',
  `yearly_day` int DEFAULT NULL COMMENT '年保养在每年几号完成(1-31)',
  `daily_standards` json DEFAULT NULL COMMENT '日保养标准列表',
  `weekly_standards` json DEFAULT NULL COMMENT '周保养标准列表',
  `monthly_standards` json DEFAULT NULL COMMENT '月保养标准列表',
  `yearly_standards` json DEFAULT NULL COMMENT '年保养标准列表',
  `maintenance_standards` json DEFAULT NULL COMMENT '保养标准列表 [{name: 标准名称, specification: 保养规范}]',
  `daily_reminder_time` varchar(5) COLLATE utf8mb4_unicode_ci DEFAULT '16:00' COMMENT '日保养提醒时间，格式 HH:mm',
  `weekly_reminder_enabled` tinyint(1) DEFAULT '1' COMMENT '是否启用周保养提醒',
  `monthly_reminder_enabled` tinyint(1) DEFAULT '1' COMMENT '是否启用月保养提醒',
  `yearly_reminder_enabled` tinyint(1) DEFAULT '1' COMMENT '是否启用年保养提醒',
  `created_by` int DEFAULT NULL COMMENT '创建人ID',
  `created_by_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '创建人姓名',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `maintenance_plan_library_station_id` (`station_id`),
  KEY `maintenance_plan_library_equipment_code` (`equipment_code`),
  KEY `idx_cycle_type` (`cycle_type`),
  KEY `maintenance_plan_library_cycle_type` (`cycle_type`),
  CONSTRAINT `maintenance_plan_library_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `maintenance_plan_library_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=714 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_plan_library`
--

LOCK TABLES `maintenance_plan_library` WRITE;
/*!40000 ALTER TABLE `maintenance_plan_library` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_plan_library` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_plans`
--

DROP TABLE IF EXISTS `maintenance_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_plans` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plan_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `equipment_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `equipment_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cycle_type` enum('daily','weekly','monthly','quarterly','yearly','custom') COLLATE utf8mb4_unicode_ci NOT NULL,
  `cycle_value` int DEFAULT '1' COMMENT '周期值',
  `maintenance_content` text COLLATE utf8mb4_unicode_ci,
  `assigned_user_id` int DEFAULT NULL,
  `assigned_user_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `last_maintenance_date` date DEFAULT NULL,
  `next_maintenance_date` date DEFAULT NULL,
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `plan_code` (`plan_code`),
  KEY `station_id` (`station_id`),
  KEY `maintenance_plans_project_id` (`project_id`),
  KEY `maintenance_plans_next_maintenance_date` (`next_maintenance_date`),
  CONSTRAINT `maintenance_plans_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_plans`
--

LOCK TABLES `maintenance_plans` WRITE;
/*!40000 ALTER TABLE `maintenance_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_position_plans`
--

DROP TABLE IF EXISTS `maintenance_position_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_position_plans` (
  `id` int NOT NULL AUTO_INCREMENT,
  `station_id` int NOT NULL COMMENT '场站ID',
  `position_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '岗位名称',
  `plan_id` int NOT NULL COMMENT '保养计划库ID',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `maintenance_position_plans_station_id_position_name_plan_id` (`station_id`,`position_name`,`plan_id`),
  KEY `plan_id` (`plan_id`),
  CONSTRAINT `maintenance_position_plans_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `maintenance_position_plans_ibfk_2` FOREIGN KEY (`plan_id`) REFERENCES `maintenance_plan_library` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_position_plans`
--

LOCK TABLES `maintenance_position_plans` WRITE;
/*!40000 ALTER TABLE `maintenance_position_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_position_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_records`
--

DROP TABLE IF EXISTS `maintenance_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) NOT NULL,
  `plan_id` int DEFAULT NULL COMMENT 'å…³è”ä¿å…»è®¡åˆ’ID',
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `equipment_name` varchar(100) NOT NULL,
  `equipment_code` varchar(50) DEFAULT NULL,
  `maintenance_date` date NOT NULL,
  `maintainer_id` int NOT NULL,
  `maintainer_name` varchar(50) DEFAULT NULL,
  `maintenance_content` text,
  `result` enum('normal','found_issue') DEFAULT 'normal',
  `issue_description` text,
  `handling_measures` text,
  `photo_urls` text COMMENT 'JSONæ•°ç»„',
  `work_hours` decimal(4,2) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `reviewer_id` int DEFAULT NULL,
  `reviewer_name` varchar(50) DEFAULT NULL,
  `review_time` datetime DEFAULT NULL,
  `reject_reason` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_maintenance_plan` (`plan_id`),
  KEY `idx_maintenance_status` (`status`),
  KEY `maintenance_records_plan_id` (`plan_id`),
  KEY `maintenance_records_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ä¿å…»è®°å½•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_records`
--

LOCK TABLES `maintenance_records` WRITE;
/*!40000 ALTER TABLE `maintenance_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_work_records`
--

DROP TABLE IF EXISTS `maintenance_work_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_work_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '记录编号',
  `station_id` int NOT NULL COMMENT '场站ID',
  `plan_id` int NOT NULL COMMENT '保养计划库ID',
  `position_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '岗位名称',
  `equipment_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '设备编号',
  `equipment_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '设备名称',
  `install_location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '安装位置',
  `cycle_type` enum('daily','weekly','monthly','yearly') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '保养周期',
  `work_date` date NOT NULL COMMENT '工作日期',
  `executor_id` int NOT NULL COMMENT '执行人ID',
  `executor_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '执行人姓名',
  `maintenance_items` json DEFAULT NULL COMMENT '保养标准确认项[{name, specification, confirmed}]',
  `maintenance_tools` text COLLATE utf8mb4_unicode_ci COMMENT '保养工具',
  `work_hours` decimal(5,2) DEFAULT NULL COMMENT '保养时长(小时)',
  `consumables_list` json DEFAULT NULL COMMENT '耗材清单[{name, quantity, unit}]',
  `parts_list` json DEFAULT NULL COMMENT '配件清单[{name, quantity, unit}]',
  `remark` text COLLATE utf8mb4_unicode_ci COMMENT '保养备注',
  `status` enum('pending','completed','verified') COLLATE utf8mb4_unicode_ci DEFAULT 'pending' COMMENT '状态: pending-待完成, completed-已完成, verified-已验收',
  `submit_time` datetime DEFAULT NULL COMMENT '提交时间',
  `verifier_id` int DEFAULT NULL COMMENT '验收人ID',
  `verifier_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '验收人姓名',
  `verify_time` datetime DEFAULT NULL COMMENT '验收时间',
  `verify_result` enum('pass','fail') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '验收结果',
  `verify_remark` text COLLATE utf8mb4_unicode_ci COMMENT '验收备注',
  `is_overdue` tinyint(1) DEFAULT '0' COMMENT '是否延期',
  `planned_date` date DEFAULT NULL COMMENT '计划完成日期',
  `last_reminder_time` datetime DEFAULT NULL COMMENT '最后提醒时间',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_mwr_plan_exec_date_cycle` (`plan_id`,`executor_id`,`work_date`,`cycle_type`),
  KEY `station_id` (`station_id`),
  KEY `executor_id` (`executor_id`),
  CONSTRAINT `maintenance_work_records_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `maintenance_work_records_ibfk_2` FOREIGN KEY (`plan_id`) REFERENCES `maintenance_plan_library` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `maintenance_work_records_ibfk_3` FOREIGN KEY (`executor_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_work_records`
--

LOCK TABLES `maintenance_work_records` WRITE;
/*!40000 ALTER TABLE `maintenance_work_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_work_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material_requisitions`
--

DROP TABLE IF EXISTS `material_requisitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `material_requisitions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `requisition_code` varchar(50) NOT NULL,
  `repair_record_id` int DEFAULT NULL COMMENT 'å…³è”ç»´ä¿®è®°å½•ID',
  `applicant_id` int NOT NULL,
  `applicant_name` varchar(50) DEFAULT NULL,
  `material_list` json NOT NULL COMMENT 'ç‰©æ–™æ¸…å• [{name,spec,quantity,unit_price}]',
  `total_amount` decimal(10,2) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `approver_id` int DEFAULT NULL,
  `approver_name` varchar(50) DEFAULT NULL,
  `approve_time` datetime DEFAULT NULL,
  `reject_reason` text,
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `requisition_code` (`requisition_code`),
  KEY `idx_requisition_status` (`status`),
  KEY `idx_requisition_applicant` (`applicant_id`),
  KEY `material_requisitions_status` (`status`),
  KEY `material_requisitions_applicant_id` (`applicant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é¢†æ–™ç”³è¯·è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material_requisitions`
--

LOCK TABLES `material_requisitions` WRITE;
/*!40000 ALTER TABLE `material_requisitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `material_requisitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mqtt_messages`
--

DROP TABLE IF EXISTS `mqtt_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mqtt_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `topic` varchar(200) NOT NULL,
  `message_code` varchar(20) DEFAULT NULL,
  `msg_id` varchar(50) DEFAULT NULL,
  `gateway_sn` varchar(50) DEFAULT NULL,
  `event_time` bigint DEFAULT NULL,
  `payload_json` json DEFAULT NULL,
  `data_value` json DEFAULT NULL,
  `payload_text` text,
  `qos` tinyint DEFAULT NULL,
  `retain` tinyint DEFAULT '0',
  `received_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_mqtt_messages_topic` (`topic`),
  KEY `idx_mqtt_messages_gateway_sn` (`gateway_sn`),
  KEY `idx_mqtt_messages_received_at` (`received_at`),
  KEY `idx_mqtt_messages_event_time` (`event_time`),
  KEY `mqtt_messages_topic` (`topic`),
  KEY `mqtt_messages_gateway_sn` (`gateway_sn`),
  KEY `mqtt_messages_received_at` (`received_at`),
  KEY `mqtt_messages_event_time` (`event_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='MQTT message storage';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mqtt_messages`
--

LOCK TABLES `mqtt_messages` WRITE;
/*!40000 ALTER TABLE `mqtt_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `mqtt_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mqtt_metrics`
--

DROP TABLE IF EXISTS `mqtt_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mqtt_metrics` (
  `id` int NOT NULL AUTO_INCREMENT,
  `variable_name` varchar(100) NOT NULL,
  `display_name` varchar(100) NOT NULL,
  `metric_type` varchar(50) NOT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `is_enabled` tinyint DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_mqtt_metrics_variable_name` (`variable_name`),
  KEY `idx_mqtt_metrics_metric_type` (`metric_type`),
  KEY `idx_mqtt_metrics_is_enabled` (`is_enabled`),
  KEY `mqtt_metrics_variable_name` (`variable_name`),
  KEY `mqtt_metrics_metric_type` (`metric_type`),
  KEY `mqtt_metrics_is_enabled` (`is_enabled`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='MQTT metric definitions';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mqtt_metrics`
--

LOCK TABLES `mqtt_metrics` WRITE;
/*!40000 ALTER TABLE `mqtt_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `mqtt_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `notify_type` enum('inspection_overdue','task_pending','approval_request','system') NOT NULL DEFAULT 'system' COMMENT 'ç±»åž‹',
  `title` varchar(200) NOT NULL COMMENT 'æ ‡é¢˜',
  `content` text COMMENT 'å†…å®¹',
  `receiver_id` int DEFAULT NULL COMMENT 'æŽ¥æ”¶ç”¨æˆ·ID',
  `receiver_name` varchar(50) DEFAULT NULL COMMENT 'æŽ¥æ”¶äºº',
  `is_read` tinyint DEFAULT '0' COMMENT 'æ˜¯å¦å·²è¯»',
  `related_id` int DEFAULT NULL COMMENT 'å…³è”ä¸šåŠ¡ID',
  `related_type` varchar(50) DEFAULT NULL COMMENT 'å…³è”ä¸šåŠ¡ç±»åž‹',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `notifications_receiver_id` (`receiver_id`),
  KEY `notifications_is_read` (`is_read`),
  KEY `notifications_notify_type` (`notify_type`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é€šçŸ¥è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operation_logs`
--

DROP TABLE IF EXISTS `operation_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `user_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operation_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '操作类型',
  `operation_module` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '操作模块',
  `operation_detail` text COLLATE utf8mb4_unicode_ci COMMENT '操作详情',
  `ip_address` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `operation_logs_user_id` (`user_id`),
  KEY `operation_logs_operation_type` (`operation_type`),
  KEY `operation_logs_created_at` (`created_at`),
  CONSTRAINT `operation_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation_logs`
--

LOCK TABLES `operation_logs` WRITE;
/*!40000 ALTER TABLE `operation_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `permission_code` varchar(100) NOT NULL COMMENT 'æƒé™ç¼–ç ',
  `permission_name` varchar(100) NOT NULL COMMENT 'æƒé™åç§°',
  `resource_type` enum('menu','button','api','module') NOT NULL DEFAULT 'api',
  `parent_id` int DEFAULT '0' COMMENT 'çˆ¶çº§æƒé™ID',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permission_code` (`permission_code`)
) ENGINE=InnoDB AUTO_INCREMENT=158 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æƒé™è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plc_categories`
--

DROP TABLE IF EXISTS `plc_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plc_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_key` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åˆ†ç±»æ ‡è¯†',
  `category_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åˆ†ç±»åç§°',
  `data_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'REAL' COMMENT 'æ•°æ®ç±»åž‹',
  `value_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'cumulative' COMMENT 'å–å€¼ç±»åž‹',
  `schedule_type` enum('interval','fixed','on_change') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'interval' COMMENT 'è°ƒåº¦ç±»åž‹',
  `interval_hours` int DEFAULT '1' COMMENT 'é‡‡é›†é—´éš”(å°æ—¶)',
  `interval_minutes` int DEFAULT '0',
  `fixed_time` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å›ºå®šé‡‡é›†æ—¶é—´',
  `is_enabled` tinyint(1) DEFAULT '1' COMMENT 'æ˜¯å¦å¯ç”¨',
  `sort_order` int DEFAULT '0' COMMENT 'æŽ’åº',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `category_key` (`category_key`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plc_categories`
--

LOCK TABLES `plc_categories` WRITE;
/*!40000 ALTER TABLE `plc_categories` DISABLE KEYS */;
INSERT INTO `plc_categories` VALUES (9,'water','水表','REAL','cumulative','fixed',1,0,'17:08',1,0,'2026-01-18 05:38:22','2026-01-19 09:05:03'),(12,'temperature','温度','REAL','fluctuating','interval',1,0,NULL,1,0,'2026-01-18 08:04:02','2026-01-19 10:31:48'),(13,'ele','电表','REAL','cumulative','fixed',1,0,'17:08',1,0,'2026-01-18 08:04:18','2026-01-19 09:05:13');
/*!40000 ALTER TABLE `plc_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plc_file_imports`
--

DROP TABLE IF EXISTS `plc_file_imports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plc_file_imports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `file_name` varchar(255) NOT NULL,
  `file_key` varchar(255) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'processed',
  `error_message` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `file_key` (`file_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plc_file_imports`
--

LOCK TABLES `plc_file_imports` WRITE;
/*!40000 ALTER TABLE `plc_file_imports` DISABLE KEYS */;
/*!40000 ALTER TABLE `plc_file_imports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plc_monitor_configs`
--

DROP TABLE IF EXISTS `plc_monitor_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plc_monitor_configs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç›‘æŽ§ç‚¹åç§°',
  `station_id` int DEFAULT NULL COMMENT 'åœºç«™ID',
  `plc_ip` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'PLC IPåœ°å€',
  `db_number` int NOT NULL COMMENT 'DBå—å·',
  `offset_address` decimal(10,1) NOT NULL COMMENT 'åç§»åœ°å€',
  `data_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'REAL' COMMENT 'æ•°æ®ç±»åž‹',
  `category_id` int DEFAULT NULL COMMENT 'åˆ†ç±»ID',
  `unit` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'å•ä½',
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'æè¿°',
  `is_active` tinyint(1) DEFAULT '1' COMMENT 'æ˜¯å¦å¯ç”¨',
  `sort_order` int DEFAULT '0' COMMENT 'æŽ’åº',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_station_id` (`station_id`),
  KEY `idx_category_id` (`category_id`),
  KEY `idx_plc_ip` (`plc_ip`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plc_monitor_configs`
--

LOCK TABLES `plc_monitor_configs` WRITE;
/*!40000 ALTER TABLE `plc_monitor_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `plc_monitor_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plc_readings`
--

DROP TABLE IF EXISTS `plc_readings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plc_readings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `timestamp` datetime NOT NULL COMMENT 'é‡‡é›†æ—¶é—´',
  `config_id` int NOT NULL COMMENT 'é…ç½®ID',
  `address` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å®Œæ•´åœ°å€',
  `value` decimal(20,4) DEFAULT NULL COMMENT 'è¯»å–å€¼',
  `category_id` int DEFAULT NULL COMMENT 'åˆ†ç±»ID',
  `station_id` int DEFAULT NULL COMMENT 'åœºç«™ID',
  `raw_value` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'åŽŸå§‹å€¼',
  `quality` tinyint DEFAULT '1' COMMENT 'æ•°æ®è´¨é‡',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_timestamp` (`timestamp`),
  KEY `idx_config_id` (`config_id`),
  KEY `idx_category_id` (`category_id`),
  KEY `idx_station_id` (`station_id`),
  KEY `idx_timestamp_category` (`timestamp`,`category_id`),
  KEY `idx_timestamp_station` (`timestamp`,`station_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3642 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plc_readings`
--

LOCK TABLES `plc_readings` WRITE;
/*!40000 ALTER TABLE `plc_readings` DISABLE KEYS */;
/*!40000 ALTER TABLE `plc_readings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plc_scale_records`
--

DROP TABLE IF EXISTS `plc_scale_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plc_scale_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) NOT NULL,
  `scale_id` varchar(50) DEFAULT NULL,
  `station_id` int DEFAULT NULL,
  `weight_time` datetime DEFAULT NULL,
  `vehicle_no` varchar(50) DEFAULT NULL,
  `material` varchar(100) DEFAULT NULL,
  `weight_gross` decimal(10,2) DEFAULT NULL,
  `weight_tare` decimal(10,2) DEFAULT NULL,
  `weight_net` decimal(10,2) DEFAULT NULL,
  `operator_name` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `source` varchar(20) NOT NULL DEFAULT 'http',
  `file_name` varchar(255) DEFAULT NULL,
  `raw_payload` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_plc_scale_id` (`scale_id`),
  KEY `idx_plc_station_id` (`station_id`),
  KEY `idx_plc_weight_time` (`weight_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plc_scale_records`
--

LOCK TABLES `plc_scale_records` WRITE;
/*!40000 ALTER TABLE `plc_scale_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `plc_scale_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_jobs`
--

DROP TABLE IF EXISTS `position_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `position_jobs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `position_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '岗位名称',
  `job_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工作项目名称',
  `standard_hours` decimal(4,2) DEFAULT NULL COMMENT '标准工时',
  `points` int DEFAULT NULL COMMENT '积分',
  `station_id` int DEFAULT NULL COMMENT '场站ID（可选，用于指定场站的岗位工作）',
  `is_active` tinyint DEFAULT '1' COMMENT '是否启用',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `station_id` (`station_id`),
  CONSTRAINT `position_jobs_ibfk_1` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_jobs`
--

LOCK TABLES `position_jobs` WRITE;
/*!40000 ALTER TABLE `position_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `position_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_tasks`
--

DROP TABLE IF EXISTS `position_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `position_tasks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `position_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '岗位名称',
  `task_config_id` int NOT NULL,
  `is_required` tinyint DEFAULT '1' COMMENT '是否必做',
  `sort_order` int DEFAULT '0',
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `task_config_id` (`task_config_id`),
  KEY `position_tasks_project_id_position_name` (`project_id`,`position_name`),
  CONSTRAINT `position_tasks_ibfk_1` FOREIGN KEY (`task_config_id`) REFERENCES `task_configs` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_tasks`
--

LOCK TABLES `position_tasks` WRITE;
/*!40000 ALTER TABLE `position_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `position_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_work_logs`
--

DROP TABLE IF EXISTS `position_work_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `position_work_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT '用户ID',
  `user_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '用户姓名',
  `station_id` int DEFAULT NULL COMMENT '场站ID',
  `station_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '场站名称',
  `position_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '岗位名称',
  `position_job_id` int DEFAULT NULL COMMENT '关联岗位工作项目ID',
  `work_date` date NOT NULL COMMENT '工作日期',
  `work_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工作项目名称',
  `standard_hours` decimal(5,2) DEFAULT '0.00' COMMENT '标准工时(小时)',
  `actual_hours` decimal(5,2) DEFAULT '0.00' COMMENT '实际工时(小时)',
  `is_completed` tinyint DEFAULT '0' COMMENT '是否完成：0未完成 1已完成',
  `progress` int DEFAULT '0' COMMENT '完成进度 0-100',
  `remark` text COLLATE utf8mb4_unicode_ci COMMENT '备注',
  `is_overtime` tinyint DEFAULT '0' COMMENT '是否超时',
  `appeal_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '申诉状态：pending待审批, approved已通过, rejected已驳回',
  `appeal_reason` text COLLATE utf8mb4_unicode_ci COMMENT '申诉原因',
  `appeal_time` datetime DEFAULT NULL COMMENT '申诉时间',
  `approver_id` int DEFAULT NULL COMMENT '审批人ID',
  `approver_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '审批人姓名',
  `approve_time` datetime DEFAULT NULL COMMENT '审批时间',
  `approve_remark` text COLLATE utf8mb4_unicode_ci COMMENT '审批备注',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `position_job_id` (`position_job_id`),
  KEY `position_work_logs_user_id_work_date` (`user_id`,`work_date`),
  KEY `position_work_logs_station_id` (`station_id`),
  KEY `position_work_logs_appeal_status` (`appeal_status`),
  CONSTRAINT `position_work_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `position_work_logs_ibfk_2` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `position_work_logs_ibfk_3` FOREIGN KEY (`position_job_id`) REFERENCES `position_jobs` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_work_logs`
--

LOCK TABLES `position_work_logs` WRITE;
/*!40000 ALTER TABLE `position_work_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `position_work_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_management`
--

DROP TABLE IF EXISTS `price_management`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_management` (
  `id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '项目名称',
  `item_category` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '类别',
  `specification` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `effective_date` date DEFAULT NULL,
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `price_management_item_category` (`item_category`),
  KEY `price_management_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_management`
--

LOCK TABLES `price_management` WRITE;
/*!40000 ALTER TABLE `price_management` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_management` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_stations`
--

DROP TABLE IF EXISTS `project_stations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_stations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `station_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_project_station` (`project_id`,`station_id`),
  KEY `station_id` (`station_id`),
  CONSTRAINT `project_stations_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `project_stations_ibfk_2` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é¡¹ç›®åœºç«™å…³è”è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_stations`
--

LOCK TABLES `project_stations` WRITE;
/*!40000 ALTER TABLE `project_stations` DISABLE KEYS */;
INSERT INTO `project_stations` VALUES (1,1,1,'2026-01-10 21:12:45','2026-01-10 21:12:45');
/*!40000 ALTER TABLE `project_stations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `projects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_code` varchar(50) NOT NULL COMMENT 'é¡¹ç›®ç¼–ç ',
  `project_name` varchar(100) NOT NULL COMMENT 'é¡¹ç›®åç§°',
  `department_id` int DEFAULT NULL COMMENT 'æ‰€å±žéƒ¨é—¨ID',
  `address` varchar(200) DEFAULT NULL COMMENT 'åœ°å€',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `project_code` (`project_code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é¡¹ç›®è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
INSERT INTO `projects` VALUES (1,'PROJ001','ç¤ºèŒƒé¡¹ç›®',NULL,'ç¤ºèŒƒåœ°å€','active','2026-01-10 21:12:45','2026-01-10 21:12:45');
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `repair_records`
--

DROP TABLE IF EXISTS `repair_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `repair_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) DEFAULT NULL COMMENT 'ç»´ä¿®å•å·',
  `fault_report_id` int NOT NULL COMMENT 'å…³è”æ•…éšœä¸ŠæŠ¥å•ID',
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `equipment_code` varchar(50) DEFAULT NULL COMMENT 'è®¾å¤‡ç¼–å·',
  `equipment_name` varchar(100) DEFAULT NULL COMMENT 'è®¾å¤‡åç§°',
  `equipment_location` varchar(200) DEFAULT NULL COMMENT 'è®¾å¤‡ä½ç½®',
  `equipment_model` varchar(100) DEFAULT NULL COMMENT 'è®¾å¤‡åž‹å·',
  `fault_date` date DEFAULT NULL COMMENT 'æ•…éšœæ—¥æœŸ',
  `fault_time` time DEFAULT NULL COMMENT 'æ•…éšœæ—¶é—´',
  `fault_description` text COMMENT 'æ•…éšœæè¿°',
  `preliminary_judgment` text COMMENT 'æ•…éšœåˆæ­¥åˆ¤æ–­',
  `reporter_id` int DEFAULT NULL,
  `reporter_name` varchar(50) DEFAULT NULL,
  `report_date` date DEFAULT NULL,
  `report_time` time DEFAULT NULL,
  `urgency_level` enum('low','medium','high','critical') DEFAULT NULL COMMENT 'ç´§æ€¥ç¨‹åº¦',
  `repair_person_id` int DEFAULT NULL,
  `repair_person_name` varchar(50) DEFAULT NULL,
  `repair_assistant_name` varchar(50) DEFAULT NULL COMMENT 'ç»´ä¿®é…åˆäºº',
  `plan_repair_date` date DEFAULT NULL COMMENT 'è®¡åˆ’ç»´ä¿®æ—¥æœŸ',
  `plan_repair_end_date` date DEFAULT NULL COMMENT 'è®¡åˆ’ç»´ä¿®ç»“æŸæ—¥æœŸ',
  `plan_repair_time` time DEFAULT NULL COMMENT 'è®¡åˆ’ç»´ä¿®æ—¶é—´',
  `plan_repair_end_time` time DEFAULT NULL COMMENT 'è®¡åˆ’ç»´ä¿®ç»“æŸæ—¶é—´',
  `repair_start_date` date DEFAULT NULL,
  `repair_start_time` time DEFAULT NULL,
  `repair_end_date` date DEFAULT NULL,
  `repair_end_time` time DEFAULT NULL,
  `repair_content` text COMMENT 'ç»´ä¿®å†…å®¹æè¿°',
  `repair_tools` text COMMENT 'ç»´ä¿®å·¥å…·',
  `consumables_list` json DEFAULT NULL COMMENT 'ç»´ä¿®è€—ææ˜Žç»†',
  `consumables_total` decimal(10,2) DEFAULT '0.00' COMMENT 'è€—ææ€»é‡‘é¢',
  `parts_list` json DEFAULT NULL COMMENT 'æ›´æ¢é…ä»¶æ˜Žç»†',
  `parts_total` decimal(10,2) DEFAULT '0.00' COMMENT 'é…ä»¶æ€»é‡‘é¢',
  `repair_result` enum('normal','observe','unsolved') DEFAULT NULL COMMENT 'ç»´ä¿®ç»“æžœ',
  `observe_days` int DEFAULT NULL COMMENT 'å¾…è§‚å¯Ÿå¤©æ•°',
  `unsolved_reason` text COMMENT 'æœªè§£å†³åŽŸå› ',
  `verifier_id` int DEFAULT NULL COMMENT 'éªŒæ”¶äººID(ç«™é•¿)',
  `verifier_name` varchar(50) DEFAULT NULL,
  `verify_date` date DEFAULT NULL,
  `verify_time` time DEFAULT NULL,
  `verify_result` enum('pass','fail') DEFAULT NULL COMMENT 'éªŒæ”¶ç»“æžœ',
  `verify_attitude` varchar(50) DEFAULT NULL COMMENT 'ç»´ä¿®æ€åº¦',
  `verify_quality` varchar(50) DEFAULT NULL COMMENT 'ç»´ä¿®è´¨é‡',
  `verify_comment` text COMMENT 'éªŒæ”¶æ„è§',
  `rating` int DEFAULT NULL COMMENT 'è¯„ä»·æ˜Ÿçº§1-5',
  `rating_comment` text COMMENT 'è¯„ä»·å¤‡æ³¨',
  `archivist` varchar(50) DEFAULT NULL COMMENT 'å­˜æ¡£äººå‘˜',
  `archive_dept` varchar(50) DEFAULT NULL COMMENT 'å­˜æ¡£éƒ¨é—¨',
  `archive_date` date DEFAULT NULL,
  `status` enum('draft_report','submitted_report','dispatched','repairing','repaired_submitted','accepted','archived') DEFAULT 'draft_report' COMMENT 'çŠ¶æ€',
  `dispatch_by` int DEFAULT NULL COMMENT 'æ´¾å‘äººID(ç«™é•¿)',
  `dispatch_by_name` varchar(50) DEFAULT NULL,
  `dispatch_date` date DEFAULT NULL,
  `dispatch_time` time DEFAULT NULL,
  `dispatch_remark` text COMMENT 'æ´¾å‘å¤‡æ³¨',
  `work_hours` decimal(5,1) DEFAULT NULL COMMENT 'ç»´ä¿®å·¥æ—¶',
  `created_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_repair_fault_report` (`fault_report_id`),
  KEY `idx_repair_person` (`repair_person_id`),
  KEY `idx_repair_status` (`status`),
  KEY `idx_repair_project_station` (`project_id`,`station_id`),
  KEY `repair_records_fault_report_id` (`fault_report_id`),
  KEY `repair_records_repair_person_id` (`repair_person_id`),
  KEY `repair_records_status` (`status`),
  KEY `repair_records_project_id_station_id` (`project_id`,`station_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç»´ä¿®è®°å½•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `repair_records`
--

LOCK TABLES `repair_records` WRITE;
/*!40000 ALTER TABLE `repair_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `repair_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_id` int NOT NULL,
  `permission_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_role_permission` (`role_id`,`permission_id`),
  UNIQUE KEY `role_permissions_role_id_permission_id` (`role_id`,`permission_id`),
  KEY `permission_id` (`permission_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`),
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=762 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='è§’è‰²æƒé™å…³è”è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL COMMENT 'è§’è‰²åç§°',
  `role_code` varchar(50) NOT NULL COMMENT 'è§’è‰²ç¼–ç ',
  `base_role_code` varchar(50) DEFAULT NULL COMMENT 'åŸºå‡†è§’è‰²ç¼–ç ',
  `description` varchar(200) DEFAULT NULL COMMENT 'æè¿°',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`),
  UNIQUE KEY `role_code` (`role_code`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='è§’è‰²è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safety_check_items`
--

DROP TABLE IF EXISTS `safety_check_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safety_check_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `work_type_id` int NOT NULL COMMENT '关联工作性质',
  `item_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '检查项目名称',
  `item_standard` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '检查标准',
  `enable_sub_options` tinyint DEFAULT '0' COMMENT '是否启用子选项',
  `yes_sub_options` json DEFAULT NULL COMMENT '是分支子选项',
  `no_sub_options` json DEFAULT NULL COMMENT '否分支子选项',
  `sort_order` int DEFAULT '0' COMMENT '排序',
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci DEFAULT 'active' COMMENT '状态',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `work_type_id` (`work_type_id`),
  CONSTRAINT `safety_check_items_ibfk_1` FOREIGN KEY (`work_type_id`) REFERENCES `safety_work_types` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safety_check_items`
--

LOCK TABLES `safety_check_items` WRITE;
/*!40000 ALTER TABLE `safety_check_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `safety_check_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safety_hazard_inspections`
--

DROP TABLE IF EXISTS `safety_hazard_inspections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safety_hazard_inspections` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) NOT NULL,
  `inspection_date` date NOT NULL,
  `submit_time` time DEFAULT NULL COMMENT 'submit time',
  `station_id` int DEFAULT NULL COMMENT 'station id',
  `station_name` varchar(100) NOT NULL,
  `station_type` varchar(50) DEFAULT NULL,
  `hazard_category` varchar(50) NOT NULL COMMENT 'hazard category',
  `is_first_found` enum('æ˜¯','äºŒæ¬¡','å¦') NOT NULL,
  `hazard_description` text,
  `photo_urls` text,
  `location` varchar(200) DEFAULT NULL,
  `handler_id` int DEFAULT NULL COMMENT 'åŠžç†äººID(åœºç«™é•¿)',
  `handler_name` varchar(50) DEFAULT NULL,
  `inspector_id` int NOT NULL,
  `inspector_name` varchar(50) DEFAULT NULL,
  `status` enum('pending','rectified','reviewed') DEFAULT 'pending' COMMENT 'status',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_hazard_station` (`station_name`),
  KEY `idx_hazard_date` (`inspection_date`),
  KEY `idx_hazard_inspector` (`inspector_id`),
  KEY `safety_hazard_inspections_station_name` (`station_name`),
  KEY `safety_hazard_inspections_inspection_date` (`inspection_date`),
  KEY `safety_hazard_inspections_inspector_id` (`inspector_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='å®‰å…¨éšæ‚£æ£€æŸ¥è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safety_hazard_inspections`
--

LOCK TABLES `safety_hazard_inspections` WRITE;
/*!40000 ALTER TABLE `safety_hazard_inspections` DISABLE KEYS */;
/*!40000 ALTER TABLE `safety_hazard_inspections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safety_other_inspections`
--

DROP TABLE IF EXISTS `safety_other_inspections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safety_other_inspections` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) NOT NULL,
  `inspection_type` enum('safety','hygiene') NOT NULL,
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `inspector_id` int NOT NULL,
  `inspector_name` varchar(50) DEFAULT NULL,
  `inspection_date` date NOT NULL,
  `inspected_user_id` int DEFAULT NULL,
  `inspected_user_name` varchar(50) DEFAULT NULL,
  `work_type_ids` json DEFAULT NULL COMMENT 'work type ids',
  `inspection_items` json DEFAULT NULL COMMENT 'inspection items',
  `violation_description` text,
  `remark` text COMMENT 'remark',
  `is_qualified` tinyint DEFAULT '1',
  `unqualified_items` text,
  `photo_urls` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_other_inspector` (`inspector_id`),
  KEY `idx_other_date` (`inspection_date`),
  KEY `safety_other_inspections_inspector_id` (`inspector_id`),
  KEY `safety_other_inspections_inspection_date` (`inspection_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='å®‰å…¨/å«ç”Ÿä»–æ£€è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safety_other_inspections`
--

LOCK TABLES `safety_other_inspections` WRITE;
/*!40000 ALTER TABLE `safety_other_inspections` DISABLE KEYS */;
/*!40000 ALTER TABLE `safety_other_inspections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safety_rectifications`
--

DROP TABLE IF EXISTS `safety_rectifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safety_rectifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) NOT NULL,
  `inspection_id` int NOT NULL COMMENT 'å…³è”æ£€æŸ¥è®°å½•ID',
  `handler_id` int DEFAULT NULL COMMENT 'handler id',
  `handler_name` varchar(50) DEFAULT NULL COMMENT 'handler name',
  `root_cause` varchar(100) NOT NULL COMMENT 'root cause',
  `rectification_measures` text NOT NULL,
  `responsible_person_id` int NOT NULL,
  `responsible_person_name` varchar(50) DEFAULT NULL,
  `punished_person_id` int DEFAULT NULL,
  `punished_person_name` varchar(50) DEFAULT NULL,
  `punishment_result` text,
  `is_completed` enum('æ˜¯','å¦') NOT NULL,
  `completion_photos` text,
  `completion_score` int DEFAULT NULL COMMENT 'æ•´æ”¹å®Œæˆè¯„åˆ†',
  `root_cause_category` enum('ç»„ç»‡æŽªæ–½','ç®¡ç†æŽªæ–½','æŠ€æœ¯æŽªæ–½','ç»æµŽæŽªæ–½') DEFAULT NULL COMMENT 'æ ¹å› ç±»åˆ«(å®‰å…¨å‘˜å¡«å†™)',
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `approver_id` int DEFAULT NULL,
  `approver_name` varchar(50) DEFAULT NULL,
  `approve_time` datetime DEFAULT NULL,
  `approve_comment` text,
  `reject_reason` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_rectification_inspection` (`inspection_id`),
  KEY `idx_rectification_status` (`status`),
  KEY `safety_rectifications_inspection_id` (`inspection_id`),
  KEY `safety_rectifications_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='å®‰å…¨éšæ‚£æ•´æ”¹è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safety_rectifications`
--

LOCK TABLES `safety_rectifications` WRITE;
/*!40000 ALTER TABLE `safety_rectifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `safety_rectifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safety_self_inspections`
--

DROP TABLE IF EXISTS `safety_self_inspections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safety_self_inspections` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_code` varchar(50) NOT NULL,
  `inspection_type` enum('safety','hygiene') NOT NULL,
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `filler_id` int NOT NULL,
  `filler_name` varchar(50) DEFAULT NULL,
  `inspection_date` date NOT NULL,
  `work_type_ids` json DEFAULT NULL COMMENT 'work type ids',
  `inspection_items` json DEFAULT NULL,
  `photo_urls` text,
  `submit_time` datetime NOT NULL,
  `is_overdue` tinyint DEFAULT '0',
  `overdue_minutes` int DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `record_code` (`record_code`),
  KEY `idx_self_filler` (`filler_id`),
  KEY `idx_self_date` (`inspection_date`),
  KEY `idx_self_type` (`inspection_type`),
  KEY `safety_self_inspections_filler_id` (`filler_id`),
  KEY `safety_self_inspections_inspection_date` (`inspection_date`),
  KEY `safety_self_inspections_inspection_type` (`inspection_type`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='å®‰å…¨/å«ç”Ÿè‡ªæ£€è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safety_self_inspections`
--

LOCK TABLES `safety_self_inspections` WRITE;
/*!40000 ALTER TABLE `safety_self_inspections` DISABLE KEYS */;
/*!40000 ALTER TABLE `safety_self_inspections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safety_work_types`
--

DROP TABLE IF EXISTS `safety_work_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safety_work_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `work_type_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工作性质名称',
  `is_default` tinyint DEFAULT '0' COMMENT '是否默认必选（基本工作）',
  `sort_order` int DEFAULT '0' COMMENT '排序',
  `points` int DEFAULT '0' COMMENT '???',
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci DEFAULT 'active' COMMENT '状态',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safety_work_types`
--

LOCK TABLES `safety_work_types` WRITE;
/*!40000 ALTER TABLE `safety_work_types` DISABLE KEYS */;
INSERT INTO `safety_work_types` VALUES (1,'基本工作',1,0,0,'active','2026-01-21 10:08:45','2026-01-21 10:08:45'),(2,'焊接',0,1,0,'active','2026-01-21 10:08:45','2026-01-21 10:08:45'),(3,'切割',0,2,0,'active','2026-01-21 10:08:45','2026-01-21 10:08:45'),(4,'操作',0,3,0,'active','2026-01-21 10:08:45','2026-01-21 10:08:45'),(5,'电气',0,4,0,'active','2026-01-21 10:08:45','2026-01-21 10:08:45');
/*!40000 ALTER TABLE `safety_work_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  `user_name` varchar(50) DEFAULT NULL,
  `position_name` varchar(50) DEFAULT NULL,
  `year` int NOT NULL,
  `month` int NOT NULL,
  `schedules` json DEFAULT NULL COMMENT 'æŽ’ç­æ•°æ® {"2025-12-01":"09:00-18:00","2025-12-02":"ä¼‘"}',
  `created_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_schedule_user_station_position_month` (`user_id`,`station_id`,`position_name`,`year`,`month`),
  UNIQUE KEY `schedules_user_id_station_id_position_name_year_month` (`user_id`,`station_id`,`position_name`,`year`,`month`),
  KEY `idx_schedule_project` (`project_id`),
  KEY `idx_schedule_year_month` (`year`,`month`),
  KEY `schedules_project_id` (`project_id`),
  KEY `schedules_year_month` (`year`,`month`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æŽ’ç­è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stations`
--

DROP TABLE IF EXISTS `stations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `station_name` varchar(100) NOT NULL COMMENT 'åœºç«™åç§°',
  `station_type` enum('有机资源再生中心','机械化分选站','黑水虻场站','办公区','绿植堆肥站','绿植粉碎站') DEFAULT NULL,
  `check_in_time` time DEFAULT '08:10:00' COMMENT 'è‡ªæ£€æˆªæ­¢æ—¶é—´',
  `location` varchar(200) DEFAULT NULL COMMENT 'åœ°å€',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='åœºç«™è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stations`
--

LOCK TABLES `stations` WRITE;
/*!40000 ALTER TABLE `stations` DISABLE KEYS */;
/*!40000 ALTER TABLE `stations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_configs`
--

DROP TABLE IF EXISTS `system_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_configs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `config_key` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `config_value` text COLLATE utf8mb4_unicode_ci,
  `config_type` enum('system','business','device') COLLATE utf8mb4_unicode_ci DEFAULT 'system',
  `description` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `config_key` (`config_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_configs`
--

LOCK TABLES `system_configs` WRITE;
/*!40000 ALTER TABLE `system_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_configs`
--

DROP TABLE IF EXISTS `task_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_configs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `task_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '任务名称',
  `standard_hours` decimal(4,2) NOT NULL COMMENT '标准工时',
  `project_id` int DEFAULT NULL COMMENT '项目ID（null表示全局任务）',
  `is_system_default` tinyint DEFAULT '0' COMMENT '是否系统预设',
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `task_configs_project_id` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_configs`
--

LOCK TABLES `task_configs` WRITE;
/*!40000 ALTER TABLE `task_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temporary_task_library`
--

DROP TABLE IF EXISTS `temporary_task_library`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temporary_task_library` (
  `id` int NOT NULL AUTO_INCREMENT,
  `task_name` varchar(100) NOT NULL COMMENT 'å·¥ä½œåç§°',
  `task_content` text NOT NULL COMMENT 'å…·ä½“å·¥ä½œå†…å®¹',
  `standard_hours` decimal(4,2) NOT NULL COMMENT 'æ ‡å‡†å·¥æ—¶(h/d)',
  `points` int NOT NULL COMMENT 'ç§¯åˆ†',
  `station_id` int DEFAULT NULL,
  `created_by` int DEFAULT NULL COMMENT 'åˆ›å»ºäººID',
  `created_by_name` varchar(50) DEFAULT NULL COMMENT 'åˆ›å»ºäººå§“å',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_temp_task_station` (`station_id`),
  KEY `idx_temp_task_name` (`task_name`),
  KEY `temporary_task_library_station_id` (`station_id`),
  KEY `temporary_task_library_task_name` (`task_name`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ä¸´æ—¶å·¥ä½œä»»åŠ¡åº“';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temporary_task_library`
--

LOCK TABLES `temporary_task_library` WRITE;
/*!40000 ALTER TABLE `temporary_task_library` DISABLE KEYS */;
/*!40000 ALTER TABLE `temporary_task_library` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temporary_tasks`
--

DROP TABLE IF EXISTS `temporary_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temporary_tasks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `task_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `task_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `task_description` text COLLATE utf8mb4_unicode_ci,
  `task_type` enum('temporary','overtime') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '临时任务/加班',
  `assigner_id` int NOT NULL,
  `assigner_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `executor_id` int NOT NULL,
  `executor_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `department_id` int DEFAULT NULL,
  `project_id` int DEFAULT NULL,
  `station_id` int DEFAULT NULL,
  `plan_start_time` datetime DEFAULT NULL,
  `plan_end_time` datetime DEFAULT NULL,
  `actual_hours` decimal(4,2) DEFAULT NULL,
  `standard_hours` decimal(4,2) DEFAULT NULL COMMENT '标准工时(h/d)',
  `points` int DEFAULT '0' COMMENT '积分',
  `status` enum('pending','processing','completed') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `completion_note` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `task_code` (`task_code`),
  KEY `assigner_id` (`assigner_id`),
  KEY `temporary_tasks_executor_id` (`executor_id`),
  KEY `temporary_tasks_status` (`status`),
  CONSTRAINT `temporary_tasks_ibfk_1` FOREIGN KEY (`assigner_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `temporary_tasks_ibfk_2` FOREIGN KEY (`executor_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temporary_tasks`
--

LOCK TABLES `temporary_tasks` WRITE;
/*!40000 ALTER TABLE `temporary_tasks` DISABLE KEYS */;
INSERT INTO `temporary_tasks` VALUES (1,'TMP20260110154837V5L7','gdsaf','hfdsg','temporary',5,'Test station_manager',3,'Test operator',NULL,NULL,2,'2026-01-10 16:00:00','2026-01-11 01:00:00',1.00,1.00,10,'completed','','2026-01-10 23:48:37','2026-01-10 23:51:02');
/*!40000 ALTER TABLE `temporary_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_permissions`
--

DROP TABLE IF EXISTS `user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  `effect` enum('allow','deny') NOT NULL DEFAULT 'allow',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_permission` (`permission_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_permissions`
--

LOCK TABLES `user_permissions` WRITE;
/*!40000 ALTER TABLE `user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_projects`
--

DROP TABLE IF EXISTS `user_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_projects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `project_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_project` (`user_id`,`project_id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `user_projects_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `user_projects_ibfk_2` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç”¨æˆ·é¡¹ç›®å…³è”è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_projects`
--

LOCK TABLES `user_projects` WRITE;
/*!40000 ALTER TABLE `user_projects` DISABLE KEYS */;
INSERT INTO `user_projects` VALUES (1,1,1,'2026-01-10 21:12:45','2026-01-10 21:12:45');
/*!40000 ALTER TABLE `user_projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_stations`
--

DROP TABLE IF EXISTS `user_stations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_stations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `station_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_station` (`user_id`,`station_id`),
  UNIQUE KEY `user_stations_user_id_station_id` (`user_id`,`station_id`),
  KEY `station_id` (`station_id`),
  CONSTRAINT `user_stations_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `user_stations_ibfk_2` FOREIGN KEY (`station_id`) REFERENCES `stations` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç”¨æˆ·åœºç«™å…³è”è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_stations`
--

LOCK TABLES `user_stations` WRITE;
/*!40000 ALTER TABLE `user_stations` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_stations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL COMMENT 'ç™»å½•è´¦å·',
  `password` varchar(255) NOT NULL COMMENT 'å¯†ç (bcryptåŠ å¯†)',
  `real_name` varchar(50) NOT NULL COMMENT 'çœŸå®žå§“å',
  `department_name` varchar(50) DEFAULT NULL COMMENT 'éƒ¨é—¨åç§°',
  `company_name` varchar(100) DEFAULT NULL COMMENT 'å…¬å¸',
  `phone` varchar(20) DEFAULT NULL COMMENT 'æ‰‹æœºå·',
  `email` varchar(100) DEFAULT NULL COMMENT 'é‚®ç®±',
  `role_id` int NOT NULL COMMENT 'è§’è‰²ID',
  `is_price_admin` tinyint DEFAULT '0' COMMENT 'æ˜¯å¦ä¸ºå•ä»·ä¸“å‘˜',
  `status` tinyint DEFAULT '1' COMMENT 'çŠ¶æ€ 1å¯ç”¨ 0ç¦ç”¨',
  `last_project_id` int DEFAULT NULL COMMENT 'æœ€åŽè®¿é—®çš„é¡¹ç›®ID',
  `last_station_id` int DEFAULT NULL COMMENT 'æœ€åŽè®¿é—®çš„åœºç«™ID',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `users_role_id` (`role_id`),
  KEY `users_status` (`status`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç”¨æˆ·è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-22 16:37:58
